BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Attach   # function/if/for/while { on the same line
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false

# Pointer alignment
PointerAlignment: Left       # int *ptr
DerivePointerAlignment: false # Moved this up for consistency

# Function parameters and Line Wrapping
BinPackParameters: false      # try to keep parameters on one line
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 120              # Set max line width to 50 (This overrides the '0' you had before)

# Spaces
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements

# Multi-line blocks
BreakBeforeBinaryOperators: None    # keep expressions readable
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false